{% extends "prueba/index.html" %}

{% load static %}

{% block title %}  prestamos {% endblock %}

{% block nav %}



<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="principal">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="cuentas">Cuenta</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="tarjetas">Tarjetas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="presta">Prestamos</a>
</li> 
{% endblock %}

{% block content %}



{% for p in prestamos %}

      <h4 style="color:black;font-family:Calibri" > Usted es un Usuario "{{p.tipo}}", su balance es"{{p.balance}}" recuerde que el limite varia para cada usuario: <br><br>Classic: 100.000$ Gold: 300.000$ Black: 500.000$ .</h4>
      
      <h1 style="text-align:center">Solicitar Prestamo</h1>
      <br><br>
  {% endfor %}  
  {% csrf_token %}


  <form action="" method="POST"> 
    
    {% csrf_token %}
    
    <table> {{form.as_p}} </table>
    
    
    <input type="submit" value="Enviar" /> 
  
  
  
  </form>

{% endblock %}