{% extends "prueba/index.html" %}

{% load static %}

{% block title %}  tarjetas {% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="principal">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="cuentas">Cuenta</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="tarjetas">Tarjetas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="presta">Prestamos</a>
</li> 
{% endblock %}

{% block content %}

<p> TARJETAS </p>

<img class="pres" src="{% static 'imagenes/construccion.jpg' %}">

{% endblock %}