{% extends "prueba/index.html" %}

{% load static %}

{% block title %} cuentas {% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="principal">Inicio</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="cuentas">Cuenta</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="tarjetas">Tarjetas</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="presta">Prestamos</a>
</li>
{% endblock %}

{% block content %}

<body>

 
{% for c in clientes%}

<div style="float:left; padding:50px;  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); width: 500px; border-radius:20px;margin-top:30px; background-color: #D9AFD9;  margin-left: 50px"> 
  <h1  style="font-family:Calibri"> Bienvenido/a : {{c.customer_name}} {{c.customer_surname}}</h1>
  <h2  style="font-family:Calibri"> Saldo: {{c.balance}}$  </h2>

</div>

{% endfor %}


<div style=" margin: 1em; padding:1em; color:red; float:right">
  
  <img  width="700px" height="300px" src="{% static 'imagenes/auto3.jpg' %}">
  
</div> 

</body>




{% endblock %}