{% extends "prueba/index.html" %}

{% load static %}

{% block title %}  registrarse {% endblock %}

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="iniciar">Iniciar sesion</a>
</li>
{% endblock %}


{% block content %}

<form method="post" action="" style="max-width: 350px;
padding: 15px 35px 45px;
margin: 0 auto;
background:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
border: 1px solid rgba(0,0,0,0.1);border-radius:20px;" >

    {% csrf_token %}
    <br>
    {{form.username.label}}
    <br>
    {{form.username}}
    <br>
    {{form.password1.label}}
    <br>
    {{form.password1}}
    <br>
    {{form.password2.label}}
    <br>
    {{form.password2}}
    
  <br> <button class="btn btn-success" type ="submit">Registrate</button>
  
  </form>

<br>
{% endblock %}



