{% extends "prueba/index.html" %}

{% load static %}

{% block title %}  login  {% endblock %}


{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="iniciar">Iniciar sesion</a>
</li>
{% endblock %}

{% block content %}

<form style="width:350px;
padding: 15px 35px 45px;
margin: 0 auto;
background:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
border: 1px solid rgba(0,0,0,0.1);border-radius:20px;"   method="post" action="">

  {% csrf_token %}

  {% if messages %}
  
  {% for mensaje in messages %}
  {{mensaje}}
  {% endfor %}

  {% endif %}
  <br>
  {{form.username.label}}
  <br>
  {{form.username}}
  <br>
  {{form.password.label}}
  <br>
  {{form.password}}
  <br>


  <button class="btn btn-success" type ="submit">Iniciar sesion</button>
  <p>  <a href='registro'>  No tienes cuenta? Registrate aqui </a> </p>
</form>




{% endblock %}