{% extends "prueba/index.html" %}

{% load static %}

{% block title %}  login  {% endblock %}


{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="iniciar">Iniciar sesion</a>
</li>
{% endblock %}

{% block content %}

<form method="post" action="">

  {% csrf_token %}

  {% if messages %}
  
  {% for mensaje in messages %}
  {{mensaje}}
  {% endfor %}

  {% endif %}

  {{form}}



  <button class="btn btn-success" type ="submit">Iniciar sesion</button>
  <p>  <a href='registro'>  No tienes cuenta? Registrate aqui </a> </p>
</form>




{% endblock %}